name: Deploy Website

on:
  push:
    branches:
      - main
    paths:
      - '**'
      - '!README.md'

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Upload website files
        uses: actions/upload-pages-artifact@v3
        with:
          path: .

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

      - name: Notify n8n webhook
        run: |
          FILES=$(git diff-tree --no-commit-id --name-only -r ${{ github.sha }})
          COMMIT="${{ github.event.head_commit.message }}"
          DATE=$(date)

          curl -X POST \
          -H "Content-Type: application/json" \
          -d "{\"commit\":\"$COMMIT\",\"time\":\"$DATE\",\"files\":\"$FILES\"}" \
          https://coretexela.app.n8n.cloud/webhook/content-alert

